In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Pokedex_Cleaned.csv')
for index, row in df.iterrows():
    if pd.notnull(row['Variant']):
        df.drop(index, inplace=True)
        
df = df.reset_index()

df = df[['Name', 'HP', 'Attack', 'Defense', 'Sp.Atk', 'Sp.Def',
         'Speed']]

df_stats = df[['HP', 'Attack', 'Defense', 'Sp.Atk', 'Sp.Def',
         'Speed']]

df

             Name   HP  Attack  Defense  Sp.Atk  Sp.Def  Speed
0       Bulbasaur   45      49       49      65      65     45
1         Ivysaur   60      62       63      80      80     60
2        Venusaur   80      82       83     100     100     80
3      Charmander   39      52       43      60      50     65
4      Charmeleon   58      64       58      80      65     80
..            ...  ...     ...      ...     ...     ...    ...
977        Chi-Yu   55      80       80     135     120    100
978  Roaring Moon  105     139       71      55     101    119
979  Iron Valiant   74     130       90     120      60    116
980      Koraidon  100     135      115      85     100    135
981      Miraidon  100      85      100     135     115    135

[982 rows x 7 columns]

In [3]:
df_indexed = df.set_index('Name')

df_norm = df_indexed.divide(df_indexed.sum(axis = 1), axis = 0)
df_norm.head(10)
df_norm.sum(axis = 1).head(20)

Name
Bulbasaur     1.0
Ivysaur       1.0
Venusaur      1.0
Charmander    1.0
Charmeleon    1.0
Charizard     1.0
Squirtle      1.0
Wartortle     1.0
Blastoise     1.0
Caterpie      1.0
Metapod       1.0
Butterfree    1.0
Weedle        1.0
Kakuna        1.0
Beedrill      1.0
Pidgey        1.0
Pidgeotto     1.0
Pidgeot       1.0
Rattata       1.0
Raticate      1.0
dtype: float64

In [4]:
from scipy.sparse import lil_matrix
import scipy.spatial.distance

In [5]:
def similar(target_mon):
    target_mon_stats = df_indexed.loc[target_mon]
    distances = scipy.spatial.distance.cdist(df_indexed, [target_mon_stats], metric = "euclidean")[:,0]
    query_distances = list(zip(df.index, distances))

    for similar_mon, similar_stats in sorted(query_distances, key = lambda x: x[1], reverse = False)[:10]:
        print(df['Name'].iloc[similar_mon], similar_stats, df_stats.iloc[similar_mon].sum())

In [6]:
similar('Arceus')

Arceus 0.0 720
Xerneas 42.7551166528639 680
Yveltal 42.7551166528639 680
Solgaleo 47.81213235152768 680
Lunala 47.81213235152768 680
Mew 48.98979485566356 600
Celebi 48.98979485566356 600
Jirachi 48.98979485566356 600
Manaphy 48.98979485566356 600
Victini 48.98979485566356 600

In [7]:
similar('Flutter Mane')

Flutter Mane 0.0 570
Alakazam 44.15880433163923 500
Iron Moth 46.36809247747852 570
Jolteon 49.749371855331 525
Espeon 49.749371855331 525
Chi-Yu 51.96152422706632 570
Mismagius 52.67826876426369 495
Heliolisk 55.59676249567055 481
Volcarona 56.124860801609124 550
Cryogonal 56.34713834792323 515

In [8]:
similar('Mawile')

Mawile 0.0 380
Quilladin 18.138357147217054 405
Tyrunt 18.65475810617763 362
Sableye 20.0 380
Croconaw 20.46948949045872 405
Kabuto 23.979157616563597 355
Shelgon 24.49489742783178 420
Hakamo-o 26.457513110645905 420
Charjabug 27.459060435491963 400
Pawniard 28.284271247461902 340